.editor {
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 5px #aaa;
    background: #fff;
}

.editor__head {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;

    input {
        display: block;
        height: 50px;
        width: 70%;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }

    span {
        display: block;
        line-height: 56px;
        font-size: 20px;
        text-align: center;
        transition-duration: 0.7s;
        
        &:hover {
            background: rgb(252, 240, 229);
        }
        
    }

}

.editor__main {
    padding: 20px 0;
}

// editor__add
.editor__add {
    margin-top: 20px;
    border: 2px solid #ccc;
}

.editor__add__btn {
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: #EFEFEF;
}

.editor__add__box {
    display: block;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    
    button {
        margin-right: 20px;
    }

}

.editor__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    font-size: 14px;

    input {
        height: 25px;
        padding: 0 10px;
        margin-left: 10px;
        font-size: 14px;
    }

    button {
        margin-left: 20px;
    }
}

.addBox-enter {
    height: 0;
}

.addBox-enter.addBox-enter-active {
    height: 100px;
    transition: height 500ms ease-out;
}

.addBox-leave {
    height: 100px;
}

.addBox-leave.addBox-leave-active {
    height: 0px;
    transition: height 300ms ease-in;
}

.calendar-enter {
    height: 0;
}

.calendar-enter.calendar-enter-active {
    height: 430px;
    transition: height 500ms ease-out;
}

.calendar-leave {
    height: 430px;
}

.calendar-leave.calendar-leave-active {
    height: 0px;
    transition: height 300ms ease-in;
}
