.editor {
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 5px #aaa;
    background: #fff;
}

.editor__btn {
    text-align: center;
}

.editor__head {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;

    input {
        display: block;
        height: 50px;
        width: 70%;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }

    span {
        display: block;
        line-height: 56px;
        font-size: 20px;
        text-align: center;
        transition-duration: 0.7s;
        
        &:hover {
            background: rgb(252, 240, 229);
        }
        
    }

}

.editor__main {
    padding: 20px 0;
}

// editor__add
.editor__add {
    margin-top: 20px;
    border: 2px solid #ccc;
}

.editor__add__btn {
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: #EFEFEF;
}

.editor__add__box {
    display: block;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    
    button {
        margin-right: 20px;
    }

}

.editor__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    font-size: 14px;

    input {
        height: 25px;
        padding: 0 10px;
        margin-left: 10px;
        font-size: 14px;
    }

    button {
        margin-left: 20px;
    }
}

.addBox-enter {
    height: 0;
}

.addBox-enter.addBox-enter-active {
    height: 100px;
    transition: height 500ms ease-out;
}

.addBox-leave {
    height: 100px;
}

.addBox-leave.addBox-leave-active {
    height: 0px;
    transition: height 300ms ease-in;
}

// choose
.choose {
    padding: 20px;
    transition-duration: 0.7s;
    font-size: 16px;

    input {
        margin-right: 20px;
    }

    &:hover {
        background: #fcf0e5;
    }
}

.choose__title {
    font-weight: normal;
    line-height: 40px;

    input {
        font-size: 16px;
        line-height: 25px;
    }

}

%chooseBtn {
    padding: 0 10px;
    font-size: 16px;
    border: 0;
    background: none;
}

%chooseBox {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.choose__btn {
    @extend %chooseBox;
}

.choose__btn--textarea {
    @extend %chooseBox;
    justify-content: flex-end;
}

.choose__btn--add {
    @extend %chooseBtn;
    width: 70%;
    border: 1px dashed #000;
}

.choose__btn--remove,
.choose__btn--reuse,
.choose__btn--up,
.choose__btn--down 
{
    @extend %chooseBtn;
}

// option
.options {
    line-height: 35px;
    margin-left: 35px;
    font-size: 16px;

    &:hover {
        .option__close {
            display: inline-block;
        }
    }

    input[type=textarea] {
        width: 70%;
        height: 130px;
        border-radius: 5px;
        border: 1px solid #000;
    }

}

.option__title {
    display: inline-block;

    input {
        line-height: 25px;
        font-size: 16px;
    }

}

.option__close {
    display: none;
    margin-left: 20px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}