* {
    margin: 0;
    padding: 0;
}

$w3-1: 100 / 3 * 1%;
$w3-2: 100 / 3 * 2%;

.pixGallway {
    flex-wrap: wrap;
    position: relative;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    img {
        object-fit: cover;
        object-position: center;
    }
}

.pixImgs1 > img:first-child {
    width: 100%;
    height: 100%;
}

.pixImgs2 > img:first-child {
    position: absolute;
    left: 0;
    width: $w3-2;
    height: 100%;
    clip-path: url(clip.svg#clip1);
    -webkit-clip-path: polygon(0% 0%,100% 0%,50% 100%,0% 100%);
}
.pixImgs2 > img:nth-child(2) {
    position: absolute;
    right: 0;
    width: $w3-2;
    height: 100%;
    clip-path: url(clip.svg#clip2);    
    -webkit-clip-path: polygon(50% 0%,100% 0%,100% 100%,0% 100%);
}

.pixImgs3 > img:first-child {
    height: 100%;
    width: $w3-2;
    float: left;
}

.pixImgs3 > img:nth-child(2) {
    height: 50%;
    width: $w3-1;
}

.pixImgs3 > img:nth-child(3) {
    height: 50%;
    width: $w3-1;
    margin-top: -5px;
}

.pixImgs4 > img {
    height: 50%;
    width: 50%;
    float: left;
}

.pixImgs5 > img:first-child {
    height: $w3-2;
    width: $w3-2;
}

.pixImgs5 > img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: $w3-1;
}

.pixImgs5 > img:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: $w3-1;
}
.pixImgs5 > img:nth-child(4) {
    position: absolute;
    left: $w3-1;
    bottom: 0;
    width: $w3-1;
    height: $w3-1;
}
.pixImgs5 > img:nth-child(5) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: $w3-1;
    height: $w3-1;
}


.pixImgs6 > img:first-child {
    height: $w3-2;
    width: $w3-2;
}

.pixImgs6 > img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: $w3-1;
    height: $w3-1;
}

.pixImgs6 > img:nth-child(3) {
    position: absolute;
    top: $w3-1;
    right: 0;
    width: $w3-1;
    height: $w3-1;
}
.pixImgs6 > img:nth-child(4) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: $w3-1;
    height: $w3-1;
}
.pixImgs6 > img:nth-child(5) {
    position: absolute;
    left: $w3-1;
    bottom: 0;
    width: $w3-1;
    height: $w3-1;
}
.pixImgs6 > img:nth-child(6) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: $w3-1;
    height: $w3-1;
}