.icon-sprite, .icon-earth, .icon-flag, .icon-flower, .icon-qq, .icon-radiu, .icon-sina, .icon-tab, .icon-twitter, .icon-user {
  background-image: url('../images/icon-s72da42894d.png');
  background-repeat: no-repeat;
}

.icon-earth {
  background-position: 0 0;
}

.icon-flag {
  background-position: 0 -25px;
}

.icon-flower {
  background-position: 0 -66px;
}

.icon-qq {
  background-position: 0 -105px;
}

.icon-radiu {
  background-position: 0 -130px;
}

.icon-sina {
  background-position: 0 -171px;
}

.icon-tab {
  background-position: 0 -196px;
}

.icon-twitter {
  background-position: 0 -236px;
}

.icon-user {
  background-position: 0 -261px;
}
