%active {
    color: #fff;
    background: #EE7419;
    border: 1px solid #EE7419;
}

%disbled {
    color: #fff;
    background: #ccc;
    boreder: 1px solid #ccc;
}

%btn {
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition-duration: 0.5s;

    &:hover {
        @extend %active;
    }
}

.btn--info {
    @extend %btn;
    background: #fff;
}

.btn--active {
    @extend %btn;
    @extend %active;
    border-color: #EE7419;
}

.btn--disbled {
    @extend %btn;
    @extend %disbled;

    &:hover {
        @extend %disbled;
        border-color: #ccc;
    }
}