body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}

h2 {
    margin: 0;
    font-size: 18px;
}

/* layout */

.box {
    width: 100%;
}

.tree-body{
    margin: 10px 25px;
}

.tree-body div {
    display: none;
}

.tree-body.show {
    display: block;
}

.tree-title{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.tree-title:hover .operation{
    display: block;
}

.operation{
    position: absolute;
    right: -185px;
    top: 0;
    padding-left: 10px;
}

.operation a {
    margin-right: 10px;
}

/* btn */

.buttonBox {
    display: flex;
    justify-content: center;
}

.buttonBox .btn {
    margin-right: 20px;
    padding: 5px 20px;
    background: #1abc9c;
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

input {
    display: block;
    width: 200px;
    height: 30px;
    margin: 30px auto;
    border: 2px solid #1abc9c;
}

.tree-body label span.current {
    color: red;
    font-weight: bold;
}

.tree-icon {
    cursor: pointer;
}

.tree-icon::after {
    content: '[+]';
}

.tree-icon.show::after {
    content: '[-]';
}

.tree-icon.hide::after {
    content: ''
}