.color--success {
    color: green;
}

.lists__table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1px 5px #aaa;
}

.lists__table__head {
    font-size: 15px;
    
    tr {

        th {
            font-weight: 600;
            line-height: 50px;
        }

        th:first-child {
            width: 8%;
        }

        th:nth-child(2) {
            width: 30%;
        }

        th:nth-child(3) {
            width: 18%;
        }

        th:nth-child(4) {
            width: 14%;
        }

        th:nth-child(5) {
            width: 6%;
        }
        
        th:nth-child(6) {
            width: 24%;
            text-align: right;
            padding-right: 35px;
        }

    }

    button {
        display: inline-block;
        width: 95px;
        line-height: 30px;
        font-weight: bold;
        color: #fff;
        border: 1px solid #EE7419;
        border-radius: 3px;
        background: #EE7419;
    }
}

.lists__table__body
{
    font-size: 14px;
    background: #fff;

    tr {
        transition-duration: 0.7s;
        border-bottom: 1px solid #ccc;

        td {
            line-height: 50px;
        }

        td:first-child {
            text-align: center;
        }

        &:hover {
            background: rgb(252, 240, 229);
        }

    }

    button {
        margin-right: 25px;
    }
    
}

.lists__table__footer {
    font-size: 14px;
    background: #fff;

    td {
        line-height: 50px;

        &:first-child {
            text-align: center;
        }
    }

    button {
        margin-left: 30px;
    }
}
