body{
  background: #ededec;
}

/* 头部登入hd-login */
.userA{
  display: block;
  padding: 0px 30px;
  line-height: 48px;
  float:right;
  font-weight: bold;
  color:#fff;
  span{
    font-size: 14px;
    margin-top: -2px;
    margin-left: 10px;
  }
}
/* 侧栏icon */
.nav-sidebar{
  span{
    margin-left: 10px;
  }
}
  /* 用户模块 */
  .prosi{
    h1{
      line-height: 50px;
      padding-left: 70px;
      font-size: 16px;
      color: #fff;
    }
    .prosi-lis{
      width: 50%;
      float: left;
      margin: 20px 0;
      span{
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }
  }
  .user{
    width: 53px;
    height: 53px;
    float: left;
    padding: 4px;
    border: 1px solid #b9babe;
    border-radius: 50%;
      img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
  }


/* main(主体) */
    $fontColor: #aaa;
    $borderColor: #cacdd1;
    /* m-catalog(主题模块) */
    .m-catalog{
      height: 30px;
      background: #fff;
    }
    .m-catalogBox{
      padding: 5px 20px;
      color: $fontColor;
      a{
        padding: 0 10px;
        color: $fontColor;
        text-decoration: none;
        &.link{color: #6898c2;}
      }
    }


    /* g-main(内容模块) */
    .g-main{
      padding: 20px 60px;
      .m-search{
        padding: 23px 40px 18px 40px;
        border: 1px solid $borderColor;
        background: #fff;
      }
      .m-searchBox{
        float: left;

        label{
          margin: 0 15px 0 10px;
          color: $fontColor;
          font-weight: normal;
        }
        p{
          margin-left: 30px;
        }
        select{
          height: 26px;
          border: 1px solid $borderColor;
        }
        input{border: 1px solid $borderColor;}
        .selects1{
          width: 71px;
        }
        .selects2{
          width: 121px;
        }

      }
      .search-Btn{

        width: 70px;
        margin: 15px 0 0 30px;
      }
    }
