*{
    margin: 0;
    padding: 0;
}

.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}

.main {
    width: 1000px;
    margin: 0 auto;
}

.waterfallColumn {
    float: left;
}

.waterfall {
    margin-top: 15px;
    padding: 0 8px;
    img {
        width: 100%;
    }
}

.waterfall-mask {
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    img {
        max-width: 50%;
    }
}

.waterfall-flex {
    display: flex;
}