*{
    margin: 0;
    padding: 0;
}

.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}

.main {
    width: 1000px;
    margin: 0 auto;
}

.pixColumn {
    float: left;
}

.waterfall {
    margin-top: 15px;
    padding: 0 8px;
    img {
        width: 100%;
        // object-fit: cover;
        // object-position: center;
    }
}