.options {
    line-height: 35px;
    margin-left: 35px;
    font-size: 16px;

    &:hover {
        .option__close {
            display: inline-block;
        }
    }

    input[type=textarea] {
        width: 70%;
        height: 130px;
        border-radius: 5px;
        border: 1px solid #000;
    }

}

.option__title {
    display: inline-block;

    input {
        line-height: 25px;
        font-size: 16px;
    }

}

.option__close {
    display: none;
    margin-left: 20px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}