body {
  background: #dedede;
}

main {
  padding: 20px;
}

/* header(headerlayout) */
.header {
  height: 45px;
  background: #333;
}

.header h1 {
  float: left;
}

/* m-nav(navmodule) */
.m-nav li {
  float: left;
}

.m-nav li a {
  display: block;
  line-height: 45px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}

.m-nav li a:hover {
  background: #777;
}

/* m-art(textmodule) */
.m-art {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 2px 1px #848484;
  font-size: 14px;
}

.m-art h2 {
  font-size: 24px;
  padding: 10px 0;
}

.m-art h3 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: bold;
  color: #999;
}

.m-art p {
  text-indent: 2em;
  line-height: 24px;
}

.m-art img {
  padding: 10px 0;
}

.m-art ul li {
  line-height: 24px;
}

.m-art figure {
  margin: 10px 0;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  text-align: center;
}

.m-art figure figcaption {
  line-height: 30px;
}

.m-art figure img {
  max-height: 110px;
  max-height: 110px;
  padding: 0;
}

.m-art .art-ol {
  margin: 10px 20px;
}

.m-art .art-ol li {
  list-style: decimal inside;
  line-height: 24px;
}

.m-art .art-tb {
  width: 100%;
  border-collapse: collapse;
}

.m-art .art-tb th {
  text-indent: 0.5em;
  line-height: 30px;
  background: #333;
  color: #fff;
  border: 1px solid #e6e6e6;
}

.m-art .art-tb td {
  line-height: 30px;
  text-indent: 0.5em;
  border: 1px solid #e6e6e6;
}

.m-art .art-tb tr.bottom {
  background: #ddd;
}

.art-author, .art-time {
  line-height: 30px;
  font-size: 12px;
  color: #ccc;
}

/* aside(sidemoudle) */
.m-sd {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 2px 1px #848484;
  font-size: 14px;
}

.m-sd h2 {
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  border-left: 3px solid #DCDCDC;
}

.m-sd div {
  margin: 10px 0;
}

.m-sd label {
  display: block;
  float: left;
  width: 40%;
  margin-right: 15px;
  text-align: right;
}

.m-sd p {
  margin-left: 41.7%;
  line-height: 30px;
  font-size: 12px;
  color: #aaa;
}

.m-sd .msg {
  height: 100px;
  width: 52%;
}

.m-sd .sub {
  width: 100%;
  display: block;
  line-height: 40px;
  background: #128fdc;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}
